.footer {
  &__wrapper {
    border-top: 1px solid $section-border-color;
    padding: 15px 0;

    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    font-size: 14px;
    color: $info-color;
    font-weight: 400;
    font-family: 'Montserrat';
  }
  &__info--red {
    color: $author-link-color;
  }
}
.form {
  display: inline-flex;
  height: 100%;
  &__btn {
    background-color: $btn-submit-color;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color-secondary;
    font-weight: 700;
    font-family: 'Montserrat';
    cursor: pointer;
    padding: 0px 20px;

    transition: background-color 200ms ease;

    &:hover {
      background-color: $btn-hover-submit-color;
    }
  }
  &__input {
    height: 100%;
    border: 1px solid $input-border-color;
    border-right: none;

    font-size: 15px;
    line-height: 24px;
    color: $text-color-primary;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto';
    padding: 10px;
    outline: none;

    &::placeholder {
      color: $input-placeholder-color;
    }
  }
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: 0;
      align-items: center;
      justify-content: space-between;
    }
  }
}
