.team {
  padding-top: 50px;
  padding-bottom: 100px;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__slogan-text {
    font-size: 24px;
    color: $section-title-color;
    font-weight: 400;
    font-family: 'Kaushan Script';
    text-align: center;

    padding-bottom: 20px;
  }
  &__title {
    font-size: 30px;
    text-transform: uppercase;
    color: $section-title-color;
    font-weight: 700;
    font-family: 'Montserrat';
    text-align: center;
  }
  &__line {
    width: 60px;
    height: 3px;
    background-color: $section-line-color;

    margin: 50px 0;
  }
  &__description {
    width: 100%;
    max-width: 960px;
    height: 130px;
    font-size: 15px;
    line-height: 24px;
    color: $description-color;
    font-weight: 400;
    font-family: 'Roboto';
    text-align: center;
  }
}

.team-list {
  padding-top: 20px;
  width: 100%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-backdrop {
  min-width: 300px;
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 470px;
  background-color: $card-background-color;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__image-box {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 200ms ease;
  }
  &__img {
    display: block;
    width: 100%;
    max-height: 100%;
  }

  &__name {
    font-size: 14px;
    text-transform: uppercase;
    color: $description-title-color;
    font-weight: 400;
    font-family: 'Montserrat';

    padding-top: 25px;
    padding-bottom: 10px;
  }
  &__job-name {
    font-size: 15px;
    line-height: 24px;
    color: $description-color;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto';
  }
}
.card-layout {
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(0deg, #f1e290da 0%, #ea8b89d7 100%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 200ms ease;
}
.card-layout-socials {
  display: inline-flex;
  background-color: $primary-color;

  &__item {
    border-right: 0.1px solid $secondary-color;

    transition: background-color 200ms ease;

    &:last-child {
      border-right: none;
    }

    &:hover {
      .card-layout-socials__icon {
        fill: $icon-default-color;
      }
      background-color: $secondary-color;
    }
  }
  &__icon {
    fill: $secondary-color;
    width: 26px;
    height: 26px;

    transition: fill 200ms ease;

    &-box {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.card-mobile-layout {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);

  &__list {
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-between;
  }
  &__icon-box {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    fill: $icon-default-color;
    width: 26px;
    height: 26px;

    transition: fill 200ms ease;

    &:hover {
      fill: $secondary-color;
    }
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    justify-content: space-evenly;
    gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .card-mobile-layout {
    display: none;
  }
  .team-list {
    justify-content: space-between;
    gap: 0;
    padding-top: 0;

    &__item {
      &:hover {
        .card__image-box {
          transform: translate(-20px, -20px);
        }
        .card-layout {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .team {
    padding-top: 50px;
    padding-bottom: 100px;
    &__slogan-text {
      font-size: 24px;

      padding-bottom: 20px;
    }
    &__title {
      font-size: 30px;
    }
    &__line {
      margin: 50px 0;
    }
    &__description {
      width: 960px;
      height: 130px;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
