$body-background-color: white;
$text-color-primary: #212121;
$text-color-secondary: white;
$icon-default-color: white;
$text-hover-color: #fce38a;
$primary-color: #fce38a;
$secondary-color: #f38181;
$btn-submit-color: #95e1d3;
$card-background-color: #95e1d3;
$btn-hover-submit-color: #73b3a7;
$info-color: #333333;
$author-link-color: red;
$section-border-color: #e5e5e5;
$input-border-color: #e7e7e7;
$input-placeholder-color: #cccccc;
$section-line-color: #f38181;
$section-title-color: #333333;
$description-title-color: #333333;
$description-color: #999999;
